table {
  width: 100%;
}

th {
  background-color: #d3dce3;
  color: black;
}

tr:nth-child(even) {
  background-color: #424851
}



tt, code, pre {
  font-family: 'DejaVu Sans Mono', 'Droid Sans Mono', 'Lucida Console', Consolas, Monaco, monospace;
}

h1 {
  font-size:2.2em;
  border-bottom: 1px solid #ccc;
  margin-top: 5ex;
  padding-top: 20px;
}

h1:first-child { margin-top: 0px;padding-top: 0px; }
h1.title { margin-top: 0px; }

h2 {
  font-size:1.8em;
  margin-top:10px;
  padding-top: 20px;
}

h3 {
  font-size:1.4em;
}

h4 {
  font-size:1.0em;
}

h5 {
  font-size:0.9em;
}

h6 {
  font-size:0.8em;
}

